@import "@/styles/general/index.scss";

.section {
  display: block;
  width: 100vw;
  height: 120vh;
  background-color: brown;

  display: flex;
  flex-direction: column;
}

.container {
  margin-top: auto;
  margin-bottom: 100px;
  background-color: azure;
}

.list {
  display: flex;
  flex-direction: column;

  & > li {
    margin: 20px 0;
    padding: 10px;
    display: inline-block;
    background-color: blueviolet;
    flex: 0 0 40px;
  }
}
