// Media queries breakpoints
$extratiny:       320px;
$mediumtiny:      375px;
$tiny:            576px;
$small:           768px;
$medium:          992px;
$large:           1200px;
$extralarge:      1600px;
$full:            1920px;
$wide:            2560px;

// Colors
$white:           #FFFFFF;
$black:           #000000;
$green:           #6FBE49;
$green-light:     #EDFFE2;
$text:            #2B3641;
$grey:            #CECECE;
$bg-grey:         #EAEAEA;
$border:          #E0E0E0;
$link:            #2D9CDB;
$transp:          rgba(255, 255, 255, 0);

// Sizes
$wrap:            1438px;

$gap-desk:        146px;
$gap-tabl:        40px;
$gap-mob:         16px;

$halfGap-desk:    calc($gap-desk / 2);
$halfGap-tabl:    calc($gap-tabl / 2);
$halfGap-mob:     calc($gap-mob / 2);

$header-h-desk:   72px;
$header-h-tabl:   58px;
$header-h-mob:    50px;

// Pathes
$pathToImg:       '../static/images/';

// Transitions mode
$tr-mode-1: cubic-bezier(0.65, 0, 0.35, 1);

// settings of "include-media"
$breakpoints: (extratiny: $extratiny, mediumtiny: $mediumtiny, tiny: $tiny, small: $small, medium: $medium, large: $large, extralarge: $extralarge, full: $full, wide: $wide);