:root {
  --TEXT_COLOR: var(--text-color);
  --BACKGROUND_COLOR: var(--bg-color);
  --BORDER_COLOR: var(--border-color);
  --SOCIAL_ICON_COLOR: var(--social-icon-color);
  --MOD_SWITCHER_ICON_COLOR: var(--mod-switcher-icon-color);
}
