@import "styles/general/mixins.scss";
@import "styles/vars/_scss-variables.scss";

.socialBtn {
  padding: 8px;
  display: inline-block;
  color: var(--TEXT_COLOR);

  * {
    pointer-events: none;
  }
}
