@import "styles/general/mixins.scss";
@import "styles/vars/_scss-variables.scss";

.az-sticky-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  transition: 0.3s;
  position: relative;
  border-radius: 50%;
}

.az-sticky-inner {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  // TODO: через афтер фон
}

.az-sticky-element {
}
