[class*="az-icon"] {
  font-size: 20px;
  vertical-align: middle;
}

.az-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.az-icon-arrow-r {
  width: 1em;
  height: 1em;
}