.az-wrap {
  max-width: $wrap;
  width: 100%;
  margin: 0 auto;

  @include media(">large") {
    padding-right: $gap-desk;
    padding-left: $gap-desk;
  }

  @include media(">tiny", "<=large") {
    padding-right: $gap-tabl;
    padding-left: $gap-tabl;
  }

  @include media("<=tiny") {
    padding-right: $gap-mob;
    padding-left: $gap-mob;
  }
}

.az-desktop-only {
  @include media("<=large") {
    display: none !important;
  }
}

.az-mobile-only {
  @include media(">large") {
    display: none !important;
  }
}