.az-header {
  padding-top: $gap-mob;
  padding-bottom: $gap-mob;

  &__inner {
    position: relative;

    @include media(">large") {
      height: $header-h-desk;
    }
  
    @include media(">tiny", "<=large") {
      height: $header-h-tabl;
    }
  
    @include media("<=tiny") {
      height: $header-h-mob;
    }
  }

  .az-header-name {
    position: absolute;
    top: 50%;
    text-align: center;
    overflow: hidden;
    transform: translate3d(0,0,0) translateY(-50%);

    @include media(">large") {
      right: $header-h-desk;
      left: $header-h-desk;
    }
  
    @include media(">tiny", "<=large") {
      right: $header-h-tabl;
      left: $header-h-tabl;
    }
  
    @include media("<=tiny") {
      right: $header-h-mob;
      left: $header-h-mob;
    }

    &__lower {}
    &__upper {}
  }

  .js-header-name {
    .is-hidden {
      opacity: 0;
      pointer-events: none;
    }
  }
}