@import "styles/general/mixins.scss";
@import "styles/vars/_scss-variables.scss";

.container {
  position: fixed;
  bottom: $gap-tabl;
  right: $gap-tabl;

  /* soc btn toggle circle background */
  :global(.az-sticky-inner) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -$gap-mob;
      right: -$gap-mob;
      bottom: -$gap-mob;
      left: -$gap-mob;
      border-radius: 50%;
      z-index: -1;
      opacity: 0;
      border: 2px solid;
      transition: transform 0.3s;

      border-color: var(--SOCIAL_ICON_COLOR);
    }

    .btnToShowSoc {
      & > svg {
        color: $dark-blue;
        color: var(--TEXT_COLOR);
      }
    }
  }

  /* hover effect on container */
  :global(.az-sticky-container:hover .az-sticky-inner::after) {
    animation: hoverSocBtn 0.3s $tr-mode-bounce forwards;
  }
}

.inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.list {
  padding: $gap-mob;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition-timing-function: $tr-mode-default;
  overflow: hidden;

  & > li {
    opacity: 0;
    transform: translateY(-40px);
    pointer-events: none;
  }

  @for $i from 1 to 5 {
    & > li:nth-child(#{$i}) {
      transition: opacity 0.4s calc(#{$i}s / 14),
        transform 0.4s calc(#{$i}s / 14);
    }
  }
}

.social {
  position: relative;

  $size: 30px;

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - (#{$size} / 2));
    left: calc(50% - #{$size} / 2);
    width: $size;
    height: $size;
    border-radius: 50%;
    border: 1px solid;
    z-index: -1;
    transform: scale(0.5);
    opacity: 0;

    border-color: var(--SOCIAL_ICON_COLOR);
  }

  &:hover {
    &::after {
      animation: socCircle 0.3s $tr-mode-bounce forwards;
    }
  }
}

.socialsIsShow {
  animation: showSocialsAnim 1s 0s $tr-mode-default;

  .inner {
  }

  .list {
    li {
      opacity: 1;
      transform: translateY(0px);
      pointer-events: all;
    }

    @for $i from 1 to 5 {
      & > li:nth-child(#{$i}) {
        transition: opacity 0.4s calc(#{$i}s / 10 + 1s),
          transform 0.4s calc(#{$i}s / 10 + 1s);
      }
    }
  }
}

@keyframes showSocialsAnim {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(400px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes hoverSocBtn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  25% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes socCircle {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
