@import "styles/general/mixins.scss";
@import "styles/vars/_scss-variables.scss";

.header {
  margin-bottom: $gap-mob;
  padding-top: $gap-mob;
  padding-bottom: $gap-mob;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  color: var(--TEXT_COLOR);
  background-color: var(--BACKGROUND_COLOR);
}

.scrolling {
}

.inner {
  position: relative;

  @include media(">large") {
    height: $header-h-desk;
  }

  @include media(">tiny", "<=large") {
    height: $header-h-tabl;
  }

  @include media("<=tiny") {
    height: $header-h-mob;
  }
}

.name {
  position: absolute;
  top: 50%;
  text-align: center;
  overflow: hidden;
  transform: translate3d(0, 0, 0) translateY(-50%);

  @include media(">large") {
    right: $header-h-desk;
    left: $header-h-desk;
  }

  @include media(">tiny", "<=large") {
    right: $header-h-tabl;
    left: $header-h-tabl;
  }

  @include media("<=tiny") {
    right: $header-h-mob;
    left: $header-h-mob;
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media(">large") {
      height: $header-h-desk;
    }

    @include media(">tiny", "<=large") {
      height: $header-h-tabl;
    }

    @include media("<=tiny") {
      height: $header-h-mob;
    }
  }

  &__item {
    // position: absolute;
    // margin: auto;
  }
}

.init {
  :global(.full) {
    animation-name: full;
  }

  .short {
    animation-name: short;
  }
}

.short {
  // transform: scale(0.1);
  // opacity: 0;
}

@keyframes full {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0.1);
    opacity: 0;
  }
}

@keyframes short {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
